# {{ ansible_managed }}

Defaults   !visiblepw
Defaults    always_set_home
Defaults    env_reset

{% if sudoers_mailto is defined %}
Defaults mail_badpass
Defaults mailto={{ sudoers_mailto }}
{% endif -%}

{% for envkeep in sudoers_envkeeps %}
Defaults env_keep += "{{ envkeep }}"
{% endfor %}

Defaults secure_path = {{ sudoers_securepaths | join(":") }}

{% if sudoers_hostaliases is defined %}
{% for alias in sudoers_hostaliases.keys() %}
Host_Alias {{ alias }} = {{ sudoers_hostaliases[alias] | join(", ") }}
{% endfor %}
{% endif -%}

{% if sudoers_commandaliases is defined %}
{% for alias in sudoers_commandaliases.keys() %}
Cmnd_Alias {{ alias }} = {{ sudoers_commandaliases[alias] | join(", ") }}
{% endfor %}
{% endif -%}

{% for rule in sudoers_rules %}
{{ rule }}
{% endfor %}
